@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(246, 246, 246);
}

#logo {
  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}

main {
  display: flex;
  width: 50vw;
  margin: auto;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.submitted-page {
  text-align: center;
  margin-top: 50px;
}

.patience {
  font-style: italic;
  font-size: 1em;
}

.underline {
  font-weight: bold;
}

.velg-tidsrom {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bold;
}

button {
  display: block;
  background-color: #1e6b3a;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
}

#submit-form,
#add-entry {
  margin-top: 30px;
  width: 40%;
  height: 40px;
  border-radius: 10px;
  border-width: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
}

#return-button {
  margin-top: 30px;
  height: 40px;
  width: 80%;
  border-radius: 10px;
  border-width: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
}

#submit-form {
  background-color: #1e6b3a;
}

#add-entry {
  background-color: #20412a;
}

#submit-form:hover {
  background-color: #20412a;
}

#add-entry:hover {
  background-color: #1e6b3a;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #1e6b3a;
  margin: auto;
}

button:hover {
  background-color: #254832;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

footer {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  background-color: rgb(246, 246, 246);
}

.github {
  width: 30px;
}

iframe {
  display: block;
  width: 90vw;
  height: 80vh;
  margin: auto;
}

#one-sub {
  text-align: center;
  font-size: 0.9em;
}
/* Tab content */

.tab-title {
  text-align: center;
  margin-bottom: 20px;
}

.tablinks {
  background-color: #1e6b3a;
  color: white;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  flex: 1;
  text-align: center;
}

.tab {
  overflow: hidden;
  display: flex;
  width: 100vw;
  margin: auto;
}

.tabcontent {
  display: none;
  margin: 20px 0 20px 0;
  animation: fadeEffect 0.7s;
  /* Fading effect takes 1 second */
}

.active {
  background-color: #254832;
}

/* Saved inputs */

.entries {
  margin-top: 50px;
}

#entries-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#entries-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  border-bottom: 1px solid #ddd;
  background-color: rgb(246, 246, 246);
}

#entries-list li:last-child {
  border-bottom: none;
}

.delete-entry {
  all: unset;
  /* Completely resets any inherited styles */
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 1;
  color: red;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.delete-entry:hover {
  font-weight: bold;
  background: none !important;
  color: red !important;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  main {
    width: 90vw;
  }

  .tab {
    width: 100vw;
  }

  #logo {
    width: 150px;
  }

  button {
    width: 90vw;
  }
}