@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: rgb(246, 246, 246);
}

#logo {
  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

main {
  display: flex;
  gap: 5px;
  width: 50vw;
  margin: auto;
  flex-direction: column;
  flex: 1;
}

.submitted-page {
  text-align: center;
  margin-top: 50px;
}

.patience {
  font-style: italic;
  font-size: 1em;
}

.underline {
  font-weight: bold;
}

.velg-tidsrom {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bold;
}

.form-buttons {
  display: flex;
  gap: 10px;
}

button {
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 20vw;
  height: 40px;
  background-color: #1e6b3a;
  border-radius: 10px;
  border-width: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #1e6b3a;
  margin: auto;
}

button:hover {
  background-color: #254832;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

footer {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  background-color: rgb(246, 246, 246);
}

.github {
  width: 30px;
}

#entries-list li {
  background-color: #f9f9f9;
  margin-bottom: 4px;
}

#entries-list {
  list-style: none;
  padding: 0;
}

#entries-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  border-bottom: 1px solid #ddd;
}

#entries-list li:last-child {
  border-bottom: none;
}
.delete-entry {
  all: unset; /* Completely resets any inherited styles */
  cursor: pointer;
  font-size: 1.6em;
  color: red;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.delete-entry:hover {
  font-weight: bold;
  background: none;
  color: red;
}

@media (max-width: 600px) {
  main {
    width: 90vw;
  }

  #logo {
    width: 150px;
  }

  button {
    width: 90vw;
  }
}
