@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: rgb(246, 246, 246);
}

#logo {
    width: 200px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

main {
    display: flex;
    gap: 5px;
    width: 50vw;
    margin: auto;
    flex-direction: column;
}

.submitted-page {
    text-align: center;
    margin-top: 50px;
}

.patience {
    font-style: italic;
    font-size: 1em;
}

.underline {
    font-weight: bold;
}

.velg-tidsrom {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
}

button {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 20vw;
    height: 40px;
    background-color: #1E6B3A;
    border-radius: 10px;
    border-width: 1px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #1E6B3A;
    margin: auto;
}

button:hover {
    background-color: #254832;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

@media (max-width: 600px) {
    main {
        width: 90vw;
    }

    #logo {
        width: 150px;
    }

    button {
        width: 90vw;
    }
}